<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Campos Food</h1>
            <hr>
            <p>Comida online em Campos do Jordão!</br> Peça agora mesmo!</p>
            <!--<input class="pesq btn btn-success" type="text" name="search" placeholder="Pesquisar..."> -->
            <%= render :partial => 'creatives/pesq' %>
        </div>
    </div>
</header>

