<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href=""></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                    <li>
                        <%= link_to 'Finalizar' %>        
                    </li>
  
                    <li>
                        <%= link_to "Entrar", shop_login_path %>
                    </li>
                    <li>
                        <%= link_to 'Cadastrar-se' %>
                    </li>

            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a class="page-scroll" href="#">Início</a>
                </li>
                <li>
                    <a class="page-scroll" href="#restaurantes">Restaurantes</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contato</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
